header {
  background-color: #569C87;
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  color: #f1c74b;
  font-size: 35px;
  margin: auto;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.menus_footer {
  margin-bottom: 50px;
}

.green_div {
  background-color: #569C87;
  color: #f1c74b;
  width: 100%;
}

.content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content a:hover {
  opacity: 0.5;
  font-size: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus_left {
  margin-left: auto;
  margin-right: 20px;
  height: 400px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 4px 0px lightgrey;
          box-shadow: 0px 0px 4px 0px lightgrey;
}

.menus_right {
  margin-right: auto;
  margin-left: 20px;
  height: 400px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 4px 0px lightgrey;
          box-shadow: 0px 0px 4px 0px lightgrey;
}

.rows {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.menus_title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.menu {
  font-family: "street";
  font-size: 30px;
}

#btn_main {
  height: 30px;
  width: auto;
  color: #f1c74b;
  border-radius: 6px;
  border: 0px;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

#mentions {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10px;
}

#contact {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
}

.content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.centered {
  background-color: #F8BBD0;
  width: 100%;
}

article {
  margin-bottom: 80px;
  width: 82%;
}

.contenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conteneur_price {
  font-weight: bold;
}

.content_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_title {
  display: inline;
  padding-left: 70px;
  padding-right: 70px;
}

section {
  padding: 0px 30px 0px 30px;
}

.title {
  font-size: 35px;
  margin-top: 10px;
}

.menus_menus {
  font-family: "street";
}

.footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body_note {
  background-color: #fcdfdb;
  font-family: "Devonshire";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.la_note_enchantee {
  background-color: #fbdcdb;
}

.la_note_enchantee h2 {
  font-family: "Devonshire";
}

.la_note_enchantee_color {
  color: #4f252a;
}

.la_note_enchantee i {
  color: #f04e5f;
  background: -webkit-linear-gradient(#f04e5f, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus_icon {
  margin-right: 10px;
}

.body_chic {
  background-color: #fbf3fb;
  font-family: "Croissantone";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#chic_francaise {
  background-color: #fbf3fb;
  font-family: "Croissantone";
  color: #c77412;
}

.chic_francaise_color {
  color: #de8621;
  background: -webkit-linear-gradient(left, #de8621, #905cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.element1 {
  color: #c67412;
}

.element2 {
  color: #a56799;
}

.element3 {
  color: #7858cf;
}

.body_delices {
  background-color: #edefef;
  font-family: "dancing";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#delices_papilles {
  background-color: #edefef;
  font-family: "dancing";
  color: #2897fb;
}

.delices_papilles_color {
  color: #0633df;
  background: -webkit-linear-gradient(left, #0633df, #2897fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body_palette {
  background-color: #fdfffc;
  font-family: "kaushanscript";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#palette_gout {
  background-color: #fdfffc;
  font-family: "kaushanscript";
  color: #4ea043;
}

.palette_gout_color {
  color: #4ea043;
  background: -webkit-linear-gradient(left, #4ea043, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Campton";
  src: url("../Polices/Campton-BoldDEMO.otf");
}

@font-face {
  font-family: "Croissantone";
  src: url("../Polices/croissantone-Regular.ttf");
}

@font-face {
  font-family: "Devonshire";
  src: url("../Polices/devonshire-regular.ttf");
}

@font-face {
  font-family: "dancing";
  src: url("../Polices/dancing script.ttf");
}

@font-face {
  font-family: "kaushanscript";
  src: url("../Polices/kaushanscript-regular.ttf");
}

@font-face {
  font-family: "street";
  src: url("../Polices/street.ttf");
}

@media screen and (max-width: 950px) {
  article {
    width: 100%;
  }
}

@media screen and (max-width: 789px) {
  .rows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .menus_left {
    margin: 0px;
  }
  .menus_right {
    margin: 0px;
  }
  .menus {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contenue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu_header img {
    display: none;
  }
  section {
    margin-top: 30px;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes blink {
  /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
  0% {
    opacity: .2;
  }
  /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
  20% {
    opacity: 1;
  }
  /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
  0% {
    opacity: .2;
  }
  /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
  20% {
    opacity: 1;
  }
  /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
  100% {
    opacity: .2;
  }
}

.prochainement span {
  /**
     * Use the blink animation, which is defined above
     */
  -webkit-animation-name: blink;
          animation-name: blink;
  /**
     * The animation should take 1.4 seconds
     */
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  /**
     * It will repeat itself forever
     */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  margin-left: 3px;
}

.prochainement span:nth-child(2) {
  /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.prochainement span:nth-child(3) {
  /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.link {
  position: relative;
}

.link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #484848;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #484848;
}
/*# sourceMappingURL=home_style.css.map */