// chic_fançais

// Body 
.body_chic {
    background-color: #fcdfdb;
    font-family: "Devonshire";
}


// header
@font-face {
    font-family: "Campton";
    src: url("../Polices/Campton-BoldDEMO.otf");
}

// chic_francaise
@font-face {
    font-family: "Croissantone";
    src: url("../Polices/croissantone-Regular.ttf");
}

// la_note_enchantee
@font-face {
    font-family: "Devonshire";
    src: url("../Polices/devonshire-regular.ttf");
}

// delices_papilles
@font-face {
    font-family: "dancing";
    src: url("../Polices/dancing script.ttf");
}

// palette_gout
@font-face {
    font-family: "kaushanscript";
    src: url("../Polices/kaushanscript-regular.ttf");
}